# 本地测试
upstream phpfpms-local {
    server php72:9000;
}

server {
        listen       80;
        server_name  local.com;

        access_log  off;
        error_log   /var/log/nginx/local.error.log;

        root       /usr/share/nginx/html/local;

        location / {
            index  index.html index.htm index.php;
            # 配置URL分段
            try_files $uri $uri/ /index.php?$query_string;
        }

        location ~ \.php$ {
	        root           /var/www/html/local;
            fastcgi_pass   phpfpms-local;
            fastcgi_index  index.php;
            fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
            include        fastcgi_params;
        }

}